## Specfic LaTeX Files
Checkersdesigndocument2.aux
Checkersdesigndocument2.glo
Checkersdesigndocument2.idx
Checkersdesigndocument2.log
Checkersdesigndocument2.toc
Checkersdesigndocument2.ist
Checkersdesigndocument2.acn
Checkersdesigndocument2.acr
Checkersdesigndocument2.alg
Checkersdesigndocument2.bbl
Checkersdesigndocument2.blg
Checkersdesigndocument2.dvi
Checkersdesigndocument2.glg
Checkersdesigndocument2.gls
Checkersdesigndocument2.ilg
Checkersdesigndocument2.ind
Checkersdesigndocument2.lof
Checkersdesigndocument2.lot
Checkersdesigndocument2.maf
Checkersdesigndocument2.mtc
Checkersdesigndocument2.mtc1
Checkersdesigndocument2.out
Checkersdesigndocument2.synctex.gz