## Specfic LaTeX Files
Checkersdesigndocument3.aux
Checkersdesigndocument3.glo
Checkersdesigndocument3.idx
Checkersdesigndocument3.log
Checkersdesigndocument3.toc
Checkersdesigndocument3.ist
Checkersdesigndocument3.acn
Checkersdesigndocument3.acr
Checkersdesigndocument3.alg
Checkersdesigndocument3.bbl
Checkersdesigndocument3.blg
Checkersdesigndocument3.dvi
Checkersdesigndocument3.glg
Checkersdesigndocument3.gls
Checkersdesigndocument3.ilg
Checkersdesigndocument3.ind
Checkersdesigndocument3.lof
Checkersdesigndocument3.lot
Checkersdesigndocument3.maf
Checkersdesigndocument3.mtc
Checkersdesigndocument3.mtc1
Checkersdesigndocument3.out
Checkersdesigndocument3.synctex.gz