## Specfic LaTeX Files
CheckersDesignDocument.aux
CheckersDesignDocument.glo
CheckersDesignDocument.idx
CheckersDesignDocument.log
CheckersDesignDocument.toc
CheckersDesignDocument.ist
CheckersDesignDocument.acn
CheckersDesignDocument.acr
CheckersDesignDocument.alg
CheckersDesignDocument.bbl
CheckersDesignDocument.blg
CheckersDesignDocument.dvi
CheckersDesignDocument.glg
CheckersDesignDocument.gls
CheckersDesignDocument.ilg
CheckersDesignDocument.ind
CheckersDesignDocument.lof
CheckersDesignDocument.lot
CheckersDesignDocument.maf
CheckersDesignDocument.mtc
CheckersDesignDocument.mtc1
CheckersDesignDocument.out
CheckersDesignDocument.synctex.gz